<!DOCTYPE html>
                <html>
                    <head>
                        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                        <title>Form</title>
                    </head>
                    <body>
                <form action="" method="post">
                    {% csrf_token %}
                <div class="container">

<div>
<meta content="width=device-width, initial-scale=1" name="viewport"/><!-- simple style -->
<link href="/static/style.css" rel="stylesheet"/><!-- boostrap style -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<div class="container">
<h1>Simple Encounter</h1>
<div class="COMPOSITION">
<label>Encounter</label>
<div class="EVENT_CONTEXT">
</div>
<div class="EVALUATION">
<label>Reason for encounter</label>
<div class="ITEM_TREE">

<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Contact type</label>
<input class="DV_TEXT form-control" name="/data[at0001]/items[at0002]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Presenting problem</label>
<input class="DV_TEXT form-control" name="/data[at0001]/items[at0004]/value" type="text"/>
</div>
</div>
</div>
<div class="SECTION">
<label>Vital signs</label>
<div class="OBSERVATION">
<label><b>Blood Pressure</b></label>
<div class="HISTORY">

<div class="EVENT">

<div class="ITEM_TREE">
<label>blood pressure</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Systolic</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/data[at0001]/events[at0006]/data[at0003]/items[at0004]/value/magnitude" type="text"/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/data[at0001]/events[at0006]/data[at0003]/items[at0004]/value/units">
<option value=""></option>
<option value="mm[Hg]">mm[Hg]</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Diastolic</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/data[at0001]/events[at0006]/data[at0003]/items[at0005]/value/magnitude" type="text"/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/data[at0001]/events[at0006]/data[at0003]/items[at0005]/value/units">
<option value=""></option>
<option value="mm[Hg]">mm[Hg]</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Pulse pressure</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/data[at0001]/events[at0006]/data[at0003]/items[at1007]/value/magnitude" type="text"/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/data[at0001]/events[at0006]/data[at0003]/items[at1007]/value/units">
<option value=""></option>
<option value="mm[Hg]">mm[Hg]</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Comment</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0006]/data[at0003]/items[at0033]/value" type="text"/>
</div>
</div>
<div class="ITEM_TREE">
<label>state structure</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Position</label>
<select class="DV_CODED_TEXT form-control" name="/data[at0001]/events[at0006]/state[at0007]/items[at0008]/value/defining_code">
<option value=""></option>
<option value="at1000">Standing</option>
<option value="at1001">Sitting</option>
<option value="at1002">Reclining</option>
<option value="at1003">Lying</option>
<option value="at1014">Lying with tilt to left</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Confounding factors</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0006]/state[at0007]/items[at1052]/value" type="text"/>
</div>
<div class="CLUSTER">

</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Sleep status</label>
<select class="DV_CODED_TEXT form-control" name="/data[at0001]/events[at0006]/state[at0007]/items[at1043]/value/defining_code">
<option value=""></option>
<option value="at1044">Alert &amp; awake</option>
<option value="at1045">Sleeping</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Tilt</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/data[at0001]/events[at0006]/state[at0007]/items[at1005]/value/magnitude" type="text"/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/data[at0001]/events[at0006]/state[at0007]/items[at1005]/value/units">
<option value=""></option>
<option value="°">°</option>
<option value="deg">deg</option>
</select>
</div>
</div>
</div>
</div>
</div>
<div class="ITEM_TREE">

<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Cuff size</label>
<select class="DV_CODED_TEXT form-control" name="/protocol[at0011]/items[at0013]/value/defining_code">
<option value=""></option>
<option value="at0015">Adult Thigh</option>
<option value="at0016">Large Adult</option>
<option value="at0017">Adult</option>
<option value="at1008">Small Adult</option>
<option value="at1009">Paediatric/Child</option>
<option value="at1018">Infant</option>
<option value="at1019">Neonatal</option>
</select>
</div>
<div class="CLUSTER">
<label>Location</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Location of measurement</label>
<select class="DV_CODED_TEXT form-control" name="/protocol[at0011]/items[at1033]/items[at0014]/value/defining_code">
<option value=""></option>
<option value="at0025">Right arm</option>
<option value="at0026">Left arm</option>
<option value="at0027">Right thigh</option>
<option value="at0028">Left thigh</option>
<option value="at1020">Right wrist</option>
<option value="at1021">Left wrist</option>
<option value="at1026">Right ankle</option>
<option value="at1031">Left ankle</option>
<option value="at1032">Finger</option>
<option value="at1051">Toe</option>
<option value="at1053">Intra-arterial</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">X - Specific location</label>
<input class="DV_TEXT form-control" name="/protocol[at0011]/items[at1033]/items[at1034]/value" type="text"/>
</div>
</div>
<div class="CLUSTER">

</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Method</label>
<select class="DV_CODED_TEXT form-control" name="/protocol[at0011]/items[at1035]/value/defining_code">
<option value=""></option>
<option value="at1036">Auscultation</option>
<option value="at1037">Palpation</option>
<option value="at1039">Machine</option>
<option value="at1040">Invasive</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Diastolic endpoint</label>
<select class="DV_CODED_TEXT form-control" name="/protocol[at0011]/items[at1010]/value/defining_code">
<option value=""></option>
<option value="at1011">Phase IV</option>
<option value="at1012">Phase V</option>
</select>
</div>
<div class="CLUSTER">

</div>
<div class="CLUSTER">

</div>
</div>
</div>
<div class="OBSERVATION">
<label><b>Pulse/Heart beat</b></label>
<div class="HISTORY">

<div class="EVENT">

<div class="ITEM_TREE">

<div class="ELEMENT form-group row">
<select class="DV_CODED_TEXT form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at1005]/name/defining_code">
<option value=""></option>
<option value="at1045">Pulse presence</option>
<option value="at1046">Heart beat presence</option>
</select>
<select class="DV_CODED_TEXT form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at1005]/value/defining_code">
<option value=""></option>
<option value="at1024">Present</option>
<option value="at1025">Not detected</option>
</select>
</div>
<div class="ELEMENT form-group row">
<select class="DV_CODED_TEXT form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at0004]/name/defining_code">
<option value=""></option>
<option value="at1026">Pulse Rate</option>
<option value="at1027">Heart Rate</option>
</select>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at0004]/value/magnitude" type="text"/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at0004]/value/units">
<option value=""></option>
<option value="/min">/min</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Regular?</label>
<select class="DV_CODED_TEXT form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at0005]/value/defining_code">
<option value=""></option>
<option value="at0006">Regular</option>
<option value="at1028">Irregular</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Irregular type</label>
<select class="DV_CODED_TEXT form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at1055]/value/defining_code">
<option value=""></option>
<option value="at0007">Regularly Irregular</option>
<option value="at0008">Irregularly Irregular</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Character</label>
<input class="DV_TEXT form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at1030]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Clinical description</label>
<input class="DV_TEXT form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at1022]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<select class="DV_CODED_TEXT form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at1023]/name/defining_code">
<option value=""></option>
<option value="at1057">Clinical interpretation</option>
<option value="at1058">Rhythm</option>
</select>
<input class="DV_TEXT form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at1023]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Comment</label>
<input class="DV_TEXT form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at1059]/value" type="text"/>
</div>
</div>
<div class="ITEM_TREE">

<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Position</label>
<select class="DV_CODED_TEXT form-control" name="/data[at0002]/events[at0003]/state[at0012]/items[at0013]/value/defining_code">
<option value=""></option>
<option value="at1003">Standing/upright</option>
<option value="at1001">Sitting</option>
<option value="at1002">Reclining</option>
<option value="at1000">Lying</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Confounding factors</label>
<input class="DV_TEXT form-control" name="/data[at0002]/events[at0003]/state[at0012]/items[at1018]/value" type="text"/>
</div>
<div class="CLUSTER">

</div>
</div>
</div>
</div>
<div class="ITEM_TREE">

<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Method</label>
<select class="DV_CODED_TEXT form-control" name="/protocol[at0010]/items[at1019]/value/defining_code">
<option value=""></option>
<option value="at1032">Palpation</option>
<option value="at1033">Auscultation</option>
<option value="at1034">Automatic, non-invasive</option>
<option value="at1050">Automatic, invasive</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Body site</label>
<select class="DV_CODED_TEXT form-control" name="/protocol[at0010]/items[at1037]/value/defining_code">
<option value=""></option>
<option value="at1038">Radial Artery - Left</option>
<option value="at1039">Radial Artery - Right</option>
<option value="at1040">Heart</option>
<option value="at1041">Carotid Artery - Left</option>
<option value="at1042">Carotid Artery - Right</option>
<option value="at1043">Femoral Artery - Left</option>
<option value="at1044">Femoral Artery - Right</option>
<option value="at1049">Brachial artery - Right</option>
<option value="at1048">Brachial artery - Left</option>
<option value="at1047">Finger</option>
<option value="at1054">Toe</option>
<option value="at1051">Ear lobe</option>
</select>
</div>
<div class="CLUSTER">

</div>
<div class="CLUSTER">

</div>
</div>
</div>
<div class="OBSERVATION">
<label><b>Respirations</b></label>
<div class="HISTORY">

<div class="EVENT">

<div class="ITEM_TREE">

<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Rate</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0004]/value/magnitude" type="text"/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0004]/value/units">
<option value=""></option>
<option value="/min">/min</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Rhythm</label>
<select class="DV_CODED_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0005]/value/defining_code">
<option value=""></option>
<option value="at0006">Regular</option>
<option value="at0007">Irregular</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Depth</label>
<select class="DV_CODED_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0016]/value/defining_code">
<option value=""></option>
<option value="at0017">Normal</option>
<option value="at0018">Shallow</option>
<option value="at0019">Deep</option>
<option value="at0025">Variable</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Description</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0024]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Abnormal respiratory pattern</label>
<select class="DV_CODED_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0009]/value/defining_code">
<option value=""></option>
<option value="at0012">Kussmaul's respiration</option>
<option value="at0030">Cheyne-Stokes respiration</option>
<option value="at0031">Ataxic respiration</option>
<option value="at0033">Apneustic respiration</option>
<option value="at0034">Cluster breathing</option>
<option value="at0044">Apnoea</option>
<option value="at0054">Prolonged expiratory phase</option>
</select>
</div>
</div>
<div class="ITEM_TREE">

<div class="CLUSTER">

</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Confounding factors</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/state[at0022]/items[at0056]/value" type="text"/>
</div>
<div class="CLUSTER">

</div>
</div>
</div>
</div>
</div>
<div class="OBSERVATION">
<label><b>Height/Length</b></label>
<div class="HISTORY">

<div class="EVENT">

<div class="ITEM_TREE">
<label>Simple</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Height/Length</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0004]/value/magnitude" type="text"/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0004]/value/units">
<option value=""></option>
<option value="cm">cm</option>
<option value="in">in</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Comment</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0018]/value" type="text"/>
</div>
</div>
<div class="ITEM_TREE">

<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Position</label>
<select class="DV_CODED_TEXT form-control" name="/data[at0001]/events[at0002]/state[at0013]/items[at0014]/value/defining_code">
<option value=""></option>
<option value="at0016">Standing</option>
<option value="at0020">Lying</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Confounding factors</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/state[at0013]/items[at0019]/value" type="text"/>
</div>
</div>
</div>
</div>
<div class="ITEM_TREE">

<div class="CLUSTER">

</div>
</div>
</div>
<div class="OBSERVATION">
<label><b>Body weight</b></label>
<div class="HISTORY">

<div class="EVENT">

<div class="ITEM_TREE">
<label>Simple</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Weight</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at0004]/value/magnitude" type="text"/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at0004]/value/units">
<option value=""></option>
<option value="kg">kg</option>
<option value="lb">lb</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Comment</label>
<input class="DV_TEXT form-control" name="/data[at0002]/events[at0003]/data[at0001]/items[at0024]/value" type="text"/>
</div>
</div>
<div class="ITEM_TREE">
<label>state structure</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">State of Dress</label>
<select class="DV_CODED_TEXT form-control" name="/data[at0002]/events[at0003]/state[at0008]/items[at0009]/value/defining_code">
<option value=""></option>
<option value="at0011">Lightly clothed/underwear</option>
<option value="at0013">Naked</option>
<option value="at0010">Fully clothed, including shoes</option>
<option value="at0017">Nappy/diaper</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Confounding Factors</label>
<input class="DV_TEXT form-control" name="/data[at0002]/events[at0003]/state[at0008]/items[at0025]/value" type="text"/>
</div>
</div>
</div>
</div>
<div class="ITEM_TREE">
<label>protocol structure</label>
<div class="CLUSTER">

</div>
</div>
</div>
<div class="EVALUATION">

</div>
</div>
<div class="OBSERVATION">
<label><b>Physical examination findings</b></label>
<div class="HISTORY">

<div class="EVENT">

<div class="ITEM_TREE">

<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Description</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0004]/value" type="text"/>
</div>
<div class="CLUSTER">

</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Interpretation</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0006]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Comment</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0011]/value" type="text"/>
</div>
</div>
<div class="ITEM_TREE">

<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Confounding factors</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/state[at0009]/items[at0008]/value" type="text"/>
</div>
</div>
</div>
</div>
<div class="ITEM_TREE">

<div class="CLUSTER">

</div>
<div class="CLUSTER">

</div>
</div>
</div>
<div class="EVALUATION">
<label>Problem/Diagnosis</label>
<div class="ITEM_TREE">

<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Problem/Diagnosis name</label>
<input class="DV_TEXT form-control" name="/data[at0001]/items[at0002]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Clinical description</label>
<input class="DV_TEXT form-control" name="/data[at0001]/items[at0009]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Body site</label>
<input class="DV_TEXT form-control" name="/data[at0001]/items[at0012]/value" type="text"/>
</div>
<div class="CLUSTER">

</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Date/time of onset</label>
<input class="DV_DATE_TIME form-control" name="/data[at0001]/items[at0077]/value" type="datetime-local"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Date/time clinically recognised</label>
<input class="DV_DATE_TIME form-control" name="/data[at0001]/items[at0003]/value" type="datetime-local"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Severity</label>
<select class="DV_CODED_TEXT form-control" name="/data[at0001]/items[at0005]/value/defining_code">
<option value=""></option>
<option value="at0047">Mild</option>
<option value="at0048">Moderate</option>
<option value="at0049">Severe</option>
</select>
</div>
<div class="CLUSTER">

</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Course description</label>
<input class="DV_TEXT form-control" name="/data[at0001]/items[at0072]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Date/time of resolution</label>
<input class="DV_DATE form-control" name="/data[at0001]/items[at0030]/value" type="date"/>
</div>
<div class="CLUSTER">

</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Diagnostic certainty</label>
<select class="DV_CODED_TEXT form-control" name="/data[at0001]/items[at0073]/value/defining_code">
<option value=""></option>
<option value="at0074">Suspected</option>
<option value="at0075">Probable</option>
<option value="at0076">Confirmed</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Comment</label>
<input class="DV_TEXT form-control" name="/data[at0001]/items[at0069]/value" type="text"/>
</div>
</div>
<div class="ITEM_TREE">

<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Last updated</label>
<input class="DV_DATE_TIME form-control" name="/protocol[at0032]/items[at0070]/value" type="datetime-local"/>
</div>
<div class="CLUSTER">

</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Patient ID</span>
                    <input  id="patient_id" type="text" class="form-control" placeholder="Patient ID" aria-label="Username" 
                        aria-describedby="basic-addon1" required="true" name="patient_id"
                        pattern="[a-zA-Z0-9]{6,}$"title="Patient ID must have atleast 6 characters(only letters/numbers allowed)">
                </div>
                <br><br>
                <input type="submit" name="Submit" value="Submit" />
                <br><br>
                </div>
                </form>
                </html>
                