{% extends 'base.html' %}

{% block head %}
<title>Retrieve Data</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
	<h1>Result</h1>
</div>
<div id="json_area" class="container">
	<br>
	{% if data %}
		<pre>{{ data|pprint }}</pre>
	{% else %}
		data not present
	{% endif %}
	
</div>
<form action="" method="post">
	{% csrf_token %}
<div class = "container">
	<button class="btn btn-primary" type="submit" name="download_ehr_json">Download JSON</button>
</div>
</form>
   
{% endblock %}