{% extends 'base.html' %}

{% block head %}
<title>Retrieve Data</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
	<h1>Get Patient Data</h1>
</div>	
	<div class = "container">
		<form action="" method="post">
            {% csrf_token %}
            <h4>Enter Patient ID</h4>
		    <div class="input-group mb-3">
			  <input id="patient_id" type="text" class="form-control" placeholder="Patient ID" aria-label="patient id" 
			  aria-describedby="basic-addon2" required="true" name="patient_id" 
			  pattern="[a-zA-Z0-9]{6,}$"title="Patient ID must have atleast 6 characters(only letters/numbers allowed)">
			  <div class="input-group-append">
			    <button class="btn btn-primary" type="submit"  name="pid" >Submit</button>
			  </div>
			</div>
			</form>

	</div>
   
{% endblock %}