<!DOCTYPE html>

<html>
<head>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
<title>Form</title>
</head>
<body>
<form action="" method="post">
                    {% csrf_token %}
                <div class="container">
<div>
<meta content="width=device-width, initial-scale=1" name="viewport"/><!-- simple style -->
<link href="/static/style.css" rel="stylesheet"><!-- boostrap style -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<div class="container">
<h1>ePrescription (FHIR)</h1>
<div class="COMPOSITION">
<label>Prescription</label>
<div class="EVENT_CONTEXT">
</div>
<div class="INSTRUCTION">
<label>Medication order</label>
<div class="ACTIVITY">
<label>Order</label>
<div class="ITEM_TREE">
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Medication item</label>
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0070]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
<label>Medication substance</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Substance name</label>
<input class="DV_TEXT form-control" name="/items[at0132]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Form</label>
<input class="DV_TEXT form-control" name="/items[at0071]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Strength</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/items[at0115]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/items[at0115]/value/units">
<option selected="selected" value=""></option>
<option value="1">1</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Strength unit</label>
<input class="DV_TEXT form-control" name="/items[at0116]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
<label>Diluent</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Diluent amount</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/items[at0117]/items[at0124]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/items[at0117]/items[at0124]/value/units">
<option selected="selected" value=""></option>
<option value="1">1</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Diluent unit</label>
<input class="DV_TEXT form-control" name="/items[at0117]/items[at0125]/value" type="text" value=""/>
</div>
</div>
<div class="CLUSTER">
<label>Ingredient</label>
<div class="CLUSTER">
<label>Medication substance</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Substance name</label>
<input class="DV_TEXT form-control" name="/items[at0132]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Form</label>
<input class="DV_TEXT form-control" name="/items[at0071]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Category</label>
<select class="DV_CODED_TEXT form-control" name="/items[at0142]/value/defining_code">
<option selected="selected" value=""></option>
<option value="at0147">Product</option>
<option value="at0143">Ad-hoc mixture</option>
<option value="at0146">Ingredient</option>
<option value="at0144">Combination product</option>
<option value="at0145">Single-substance  product</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Strength</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/items[at0115]/value/magnitude" type="text"/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/items[at0115]/value/units">
<option value=""></option>
<option value="1">1</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Strength unit</label>
<input class="DV_TEXT form-control" name="/items[at0116]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Description</label>
<input class="DV_TEXT form-control" name="/items[at0133]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
</div>
<input class="DV_TEXT form-control" name="/name" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Ingredient amount</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/items[at0126]/items[at0139]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/items[at0126]/items[at0139]/value/units">
<option selected="selected" value=""></option>
<option value="1">1</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Ingredient amount unit</label>
<input class="DV_TEXT form-control" name="/items[at0126]/items[at0140]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Role</label>
<select class="DV_CODED_TEXT form-control" name="/items[at0126]/items[at0127]/value/defining_code">
<option selected="selected" value=""></option>
<option value="at0080">Therapeutic</option>
<option value="at0081">Electrolyte</option>
<option value="at0082">Toxic</option>
<option value="at0083">Adjuvant</option>
<option value="at0084">Diluent</option>
<option value="at0085">Propellent</option>
<option value="at0086">Preservative</option>
<option value="at0087">Colouring</option>
<option value="at0074">Ingredient</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Description</label>
<input class="DV_TEXT form-control" name="/items[at0133]/value" type="text"/>
</div>
<div class="CLUSTER">
</div>
<input class="DV_TEXT form-control" name="/name" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Route</label>
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0091]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0009]/name" type="text" value=""/>
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0009]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
<label>Dose direction</label>
<div class="CLUSTER">
<label>Dose pattern</label>
<div class="ELEMENT form-group row">
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0056]/items[at0058]/items[at0144]/name" type="text" value=""/>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/activities[at0001]/description[at0002]/items[at0056]/items[at0058]/items[at0144]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/activities[at0001]/description[at0002]/items[at0056]/items[at0058]/items[at0144]/value/units">
<option selected="selected" value=""></option>
<option value="1">1</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Dose unit</label>
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0056]/items[at0058]/items[at0145]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
<label>Timing - daily</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Frequency</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/items[at0003]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/items[at0003]/value/units">
<option selected="selected" value=""></option>
<option value="1/d">1/d</option>
<option value="1/min">1/min</option>
<option value="1/s">1/s</option>
<option value="1/h">1/h</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Interval</label>
<label>D
                        <input class="small DV_DURATION form-control" name="/items[at0014]/value/D" type="number" value=""/>
</label>
<label>H
                        <input class="small DV_DURATION form-control" name="/items[at0014]/value/H" type="number" value=""/>
</label>
<label>M
                        <input class="small DV_DURATION form-control" name="/items[at0014]/value/M" type="number" value=""/>
</label>
<label>S
                        <input class="small DV_DURATION form-control" name="/items[at0014]/value/S" type="number" value=""/>
</label>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Specific time</label>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Named time event</label>
<input class="DV_TEXT form-control" name="/items[at0026]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Exact timing critical</label>
<input class="DV_BOOLEAN" name="/items[at0023]/value" type="checkbox"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">As required</label>
<input class="DV_BOOLEAN" name="/items[at0024]/value" type="checkbox"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">As required criterion</label>
<input class="DV_TEXT form-control" name="/items[at0025]/value" type="text" value=""/>
</div>
<input class="DV_TEXT form-control" name="/name" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Infusion administration rate</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/activities[at0001]/description[at0002]/items[at0056]/items[at0058]/items[at0134]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/activities[at0001]/description[at0002]/items[at0056]/items[at0058]/items[at0134]/value/units">
<option selected="selected" value=""></option>
<option value="l/h">l/h</option>
<option value="ml/min">ml/min</option>
<option value="ml/s">ml/s</option>
<option value="ml/h">ml/h</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Dose administration duration</label>
<label>D
                      <input class="small DV_DURATION form-control" name="/activities[at0001]/description[at0002]/items[at0056]/items[at0058]/items[at0102]/value/D" type="number" value=""/>
</label>
<label>H
                      <input class="small DV_DURATION form-control" name="/activities[at0001]/description[at0002]/items[at0056]/items[at0058]/items[at0102]/value/H" type="number" value=""/>
</label>
<label>M
                      <input class="small DV_DURATION form-control" name="/activities[at0001]/description[at0002]/items[at0056]/items[at0058]/items[at0102]/value/M" type="number" value=""/>
</label>
<label>S
                      <input class="small DV_DURATION form-control" name="/activities[at0001]/description[at0002]/items[at0056]/items[at0058]/items[at0102]/value/S" type="number" value=""/>
</label>
</div>
<div class="CLUSTER">
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Direction duration</label>
<select class="DV_CODED_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0056]/items[at0066]/value/defining_code">
<option selected="selected" value=""></option>
<option value="at0067">Indefinite</option>
<option value="at0068">Indefinite - Do not discontinue</option>
</select>
</div>
<div class="CLUSTER">
<label>Timing - repetition</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Repetition interval</label>
<label>D
                      <input class="small DV_DURATION form-control" name="/items[at0002]/value/D" type="number" value=""/>
</label>
<label>H
                      <input class="small DV_DURATION form-control" name="/items[at0002]/value/H" type="number" value=""/>
</label>
<label>M
                      <input class="small DV_DURATION form-control" name="/items[at0002]/value/M" type="number" value=""/>
</label>
<label>S
                      <input class="small DV_DURATION form-control" name="/items[at0002]/value/S" type="number" value=""/>
</label>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Specific date</label>
<input class="DV_DATE_TIME form-control" name="/items[at0001]/value" type="datetime-local" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Specific day of week</label>
<input class="DV_COUNT form-control" name="/items[at0003]/value" type="number" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Specific day of month</label>
<input class="DV_COUNT form-control" name="/items[at0004]/value" type="number" value=""/>
</div>
<div class="CLUSTER">
<label>Specific event</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Event name</label>
<input class="DV_TEXT form-control" name="/items[at0006]/items[at0005]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Start interval</label>
<label>D
                        <input class="small DV_DURATION form-control" name="/items[at0006]/items[at0009]/value/D" type="number" value=""/>
</label>
<label>H
                        <input class="small DV_DURATION form-control" name="/items[at0006]/items[at0009]/value/H" type="number" value=""/>
</label>
<label>M
                        <input class="small DV_DURATION form-control" name="/items[at0006]/items[at0009]/value/M" type="number" value=""/>
</label>
<label>S
                        <input class="small DV_DURATION form-control" name="/items[at0006]/items[at0009]/value/S" type="number" value=""/>
</label>
</div>
</div>
<input class="DV_TEXT form-control" name="/name" type="text"/>
</div>
</div>
<div class="CLUSTER">
<label>Medication safety</label>
<div class="CLUSTER">
<label>Maximum dose</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Maximum amount</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/activities[at0001]/description[at0002]/items[at0062]/items[at0051]/items[at0130]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/activities[at0001]/description[at0002]/items[at0062]/items[at0051]/items[at0130]/value/units">
<option selected="selected" value=""></option>
<option value="1">1</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Maximum amount dose unit</label>
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0062]/items[at0051]/items[at0146]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Allowed period</label>
<label>D
                      <input class="small DV_DURATION form-control" name="/activities[at0001]/description[at0002]/items[at0062]/items[at0051]/items[at0053]/value/D" type="number" value=""/>
</label>
<label>H
                      <input class="small DV_DURATION form-control" name="/activities[at0001]/description[at0002]/items[at0062]/items[at0051]/items[at0053]/value/H" type="number" value=""/>
</label>
<label>M
                      <input class="small DV_DURATION form-control" name="/activities[at0001]/description[at0002]/items[at0062]/items[at0051]/items[at0053]/value/M" type="number" value=""/>
</label>
<label>S
                      <input class="small DV_DURATION form-control" name="/activities[at0001]/description[at0002]/items[at0062]/items[at0051]/items[at0053]/value/S" type="number" value=""/>
</label>
</div>
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0062]/items[at0051]/name" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Override reason</label>
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0062]/items[at0162]/value" type="text" value=""/>
</div>
</div>
<div class="ELEMENT form-group row">
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0044]/name" type="text" value=""/>
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0044]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0018]/name" type="text" value=""/>
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0018]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
<label>Order details</label>
<div class="CLUSTER">
<label>Medication course summary</label>
<div class="ELEMENT form-group row">
<input class="DV_TEXT form-control" name="/items[at0001]/name" type="text" value=""/>
<select class="DV_CODED_TEXT form-control" name="/items[at0001]/value/defining_code">
<option selected="selected" value=""></option>
<option value="at0021">Active</option>
<option value="at0022">Stopped</option>
<option value="at0023">Never active</option>
<option value="at0024">Completed</option>
<option value="at0025">Obsolete</option>
<option value="at0026">Suspended</option>
<option value="at0027">Draft</option>
</select>
</div>
<div class="ELEMENT form-group row">
<select class="DV_CODED_TEXT form-control" name="/items[at0002]/name/defining_code">
<option selected="selected" value=""></option>
<option value="at0003">Date ordered/recommended</option>
<option value="at0004">Date first prescription issued</option>
<option value="at0005">Date last prescription issued</option>
<option value="at0006">Date first authorised</option>
<option value="at0007">Date last authorised</option>
<option value="at0008">Date first dispensed</option>
<option value="at0009">Date last dispensed</option>
<option value="at0010">Date first administered</option>
<option value="at0011">Date last administered</option>
<option value="at0012">Date discontinued</option>
<option value="at0013">Date authorised</option>
<option value="at0014">Date prescription issued</option>
<option value="at0015">Date dispensed</option>
<option value="at0016">Date administered</option>
<option value="at0017">Date administration withheld</option>
<option value="at0018">Date reviewed</option>
<option value="at0019">Date last reviewed</option>
<option value="at0020">Date changed</option>
</select>
<input class="DV_DATE_TIME form-control" name="/items[at0002]/value" type="datetime-local" value=""/>
</div>
<div class="ELEMENT form-group row">
<select class="DV_CODED_TEXT form-control" name="/items[at0002]/name/defining_code">
<option value=""></option>
<option value="at0003">Date ordered/recommended</option>
<option value="at0004">Date first prescription issued</option>
<option value="at0005">Date last prescription issued</option>
<option value="at0006">Date first authorised</option>
<option value="at0007">Date last authorised</option>
<option value="at0008">Date first dispensed</option>
<option value="at0009">Date last dispensed</option>
<option value="at0010">Date first administered</option>
<option value="at0011">Date last administered</option>
<option value="at0012">Date discontinued</option>
<option value="at0013">Date authorised</option>
<option value="at0014">Date prescription issued</option>
<option value="at0015">Date dispensed</option>
<option value="at0016">Date administered</option>
<option value="at0017">Date administration withheld</option>
<option value="at0018">Date reviewed</option>
<option value="at0019">Date last reviewed</option>
<option value="at0020">Date changed</option>
</select>
<input class="DV_DATE_TIME form-control" name="/items[at0002]/value" type="datetime-local"/>
</div>
<input class="DV_TEXT form-control" name="/name" type="text"/>
</div>
</div>
<div class="CLUSTER">
<label>Medication authorisation</label>
<div class="ELEMENT form-group row">
<input class="DV_TEXT form-control" name="/items[at0025]/name" type="text" value=""/>
<input class="DV_COUNT form-control" name="/items[at0025]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<input class="DV_TEXT form-control" name="/items[at0072]/name" type="text" value=""/>
<input class="DV_DATE_TIME form-control" name="/items[at0072]/value" type="datetime-local" value=""/>
</div>
<input class="DV_TEXT form-control" name="/name" type="text"/>
</div>
<div class="CLUSTER">
<label>Dispense directions</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Dispense instruction</label>
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0129]/items[at0106]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
<label>Medication supply amount</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Amount description</label>
<input class="DV_TEXT form-control" name="/items[at0161]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Amount</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/items[at0131]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/items[at0131]/value/units">
<option selected="selected" value=""></option>
<option value="1">1</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Units</label>
<input class="DV_TEXT form-control" name="/items[at0147]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Duration of supply</label>
<label>D
                      <input class="small DV_DURATION form-control" name="/items[at0142]/value/D" type="number" value=""/>
</label>
<label>H
                      <input class="small DV_DURATION form-control" name="/items[at0142]/value/H" type="number" value=""/>
</label>
<label>M
                      <input class="small DV_DURATION form-control" name="/items[at0142]/value/M" type="number" value=""/>
</label>
<label>S
                      <input class="small DV_DURATION form-control" name="/items[at0142]/value/S" type="number" value=""/>
</label>
</div>
<input class="DV_TEXT form-control" name="/name" type="text"/>
</div>
<div class="CLUSTER">
</div>
</div>
<div class="CLUSTER">
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Comment</label>
<input class="DV_TEXT form-control" name="/activities[at0001]/description[at0002]/items[at0167]/value" type="text" value=""/>
</div>
</div>
</div>
<div class="ITEM_TREE">
<label>Dose amount description</label>
<div class="ELEMENT form-group row">
<input class="DV_TEXT form-control" name="/protocol[at0005]/items[at0004]/name" type="text" value=""/>
<label>issuer
                <input class="small DV_IDENTIFIER form-control" name="/protocol[at0005]/items[at0004]/value/issuer" type="text" value=""/>
</label>
<label>assigner
                <input class="small DV_IDENTIFIER form-control" name="/protocol[at0005]/items[at0004]/value/assigner" type="text" value=""/>
</label>
<label>id
                <input class="small DV_IDENTIFIER form-control" name="/protocol[at0005]/items[at0004]/value/id" type="text" value=""/>
</label>
<label>type
                <input class="small DV_IDENTIFIER form-control" name="/protocol[at0005]/items[at0004]/value/type" type="text" value=""/>
</label>
</div>
<div class="CLUSTER">
</div>
</div>
</div>
</div>
</div>
</link></div>
</div>
<div class="container">
<input name="Submit" type="submit" value="Submit"/>
</div>
</form>
</body></html>
