<!DOCTYPE html>

<html>
<head>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
<title>Form</title>
</head>
<body>
<form action="" method="post">
                    {% csrf_token %}
                <div class="container">
<div>
<meta content="width=device-width, initial-scale=1" name="viewport"/><!-- simple style -->
<link href="/static/style.css" rel="stylesheet"><!-- boostrap style -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<div class="container">
<h1>Genomics example template</h1>
<div class="OBSERVATION">
<label><b>Laboratory test result</b></label>
<div class="HISTORY">
<div class="EVENT">
<div class="ITEM_TREE">
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Test name</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0005]/value" type="text" value="Anaemia test"/>
</div>
<div class="CLUSTER">
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Overall test status</label>
<select class="DV_CODED_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0073]/value/defining_code">
<option value=""></option>
<option value="at0107">Registered</option>
<option value="at0037">Partial</option>
<option selected="selected" value="at0120">Preliminary</option>
<option value="at0038">Final</option>
<option value="at0040">Amended</option>
<option value="at0115">Corrected</option>
<option value="at0119">Appended</option>
<option value="at0074">Cancelled</option>
<option value="at0116">Entered in error</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Overall test status timestamp</label>
<input class="DV_DATE_TIME form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0075]/value" type="datetime-local" value="12:12:12  12/12/12"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Diagnostic service category</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0077]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Clinical information provided</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0100]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
<label>Genetic variant</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Tissue specimen identifier</label>
<label>issuer
                    <input class="small DV_IDENTIFIER form-control" name="/items[at0070]/value/issuer" type="text" value=""/>
</label>
<label>assigner
                    <input class="small DV_IDENTIFIER form-control" name="/items[at0070]/value/assigner" type="text" value=""/>
</label>
<label>id
                    <input class="small DV_IDENTIFIER form-control" name="/items[at0070]/value/id" type="text" value=""/>
</label>
<label>type
                    <input class="small DV_IDENTIFIER form-control" name="/items[at0070]/value/type" type="text" value=""/>
</label>
</div>
<div class="CLUSTER">
<label>Knowledge base</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Namespace</label>
<input class="DV_TEXT form-control" name="/items[at0001]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Version</label>
<input class="DV_TEXT form-control" name="/items[at0002]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">URL</label>
</div>
</div>
<div class="CLUSTER">
<label>Reference sequence</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Source name</label>
<input class="DV_TEXT form-control" name="/items[at0019]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Accession number</label>
<input class="DV_TEXT form-control" name="/items[at0020]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Version number</label>
<input class="DV_TEXT form-control" name="/items[at0021]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">URL</label>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Chromosome label</label>
<select class="DV_CODED_TEXT form-control" name="/items[at0023]/value/defining_code">
<option selected="selected" value=""></option>
<option value="at0024">Chromosome 1</option>
<option value="at0025">Chromosome 2</option>
<option value="at0026">Chromosome 3</option>
<option value="at0027">Chromosome 4</option>
<option value="at0028">Chromosome 5</option>
<option value="at0029">Chromosome 6</option>
<option value="at0030">Chromosome 7</option>
<option value="at0031">Chromosome 8</option>
<option value="at0032">Chromosome 9</option>
<option value="at0033">Chromosome 10</option>
<option value="at0034">Chromosome 11</option>
<option value="at0035">Chromosome 12</option>
<option value="at0036">Chromosome 13</option>
<option value="at0037">Chromosome 14</option>
<option value="at0038">Chromosome 15</option>
<option value="at0039">Chromosome 16</option>
<option value="at0040">Chromosome 17</option>
<option value="at0041">Chromosome 18</option>
<option value="at0042">Chromosome 19</option>
<option value="at0043">Chromosome 20</option>
<option value="at0044">Chromosome 21</option>
<option value="at0045">Chromosome 22</option>
<option value="at0046">Chromosome X</option>
<option value="at0047">Chromosome Y</option>
</select>
</div>
</div>
<div class="CLUSTER">
<label>Variant identifier</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Source name</label>
<input class="DV_TEXT form-control" name="/items[at0003]/items[at0004]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Identification</label>
<input class="DV_TEXT form-control" name="/items[at0003]/items[at0005]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Version</label>
<input class="DV_TEXT form-control" name="/items[at0003]/items[at0006]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">URL</label>
</div>
</div>
<div class="CLUSTER">
<label>Conversion variant</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Start converted position</label>
<input class="DV_COUNT form-control" name="/items[at0003]/value" type="number" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">End converted position</label>
<input class="DV_COUNT form-control" name="/items[at0004]/value" type="number" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Replacing sequence start position</label>
<input class="DV_COUNT form-control" name="/items[at0009]/value" type="number" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Replacing sequence end position</label>
<input class="DV_COUNT form-control" name="/items[at0010]/value" type="number" value=""/>
</div>
<div class="CLUSTER">
</div>
</div>
<div class="CLUSTER">
<label>Copy number variant</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Start position</label>
<input class="DV_COUNT form-control" name="/items[at0001]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">End position</label>
<input class="DV_COUNT form-control" name="/items[at0002]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Total copy number</label>
<input class="DV_COUNT form-control" name="/items[at0003]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Copy number change type</label>
<select class="DV_CODED_TEXT form-control" name="/items[at0005]/value/defining_code">
<option selected="selected" value=""></option>
<option value="at0006">Gain</option>
<option value="at0007">Loss</option>
</select>
</div>
<div class="CLUSTER">
</div>
</div>
<div class="CLUSTER">
<label>Deletion variant</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Start position</label>
<input class="DV_COUNT form-control" name="/items[at0001]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">End position</label>
<input class="DV_COUNT form-control" name="/items[at0005]/value" type="number" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Deleted nucleotide(s)</label>
<input class="DV_TEXT form-control" name="/items[at0008]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
</div>
</div>
<div class="CLUSTER">
<label>Duplication variant</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Start position</label>
<input class="DV_COUNT form-control" name="/items[at0001]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">End position</label>
<input class="DV_COUNT form-control" name="/items[at0003]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Duplicated nucletide(s)</label>
<input class="DV_TEXT form-control" name="/items[at0005]/value" type="text"/>
</div>
<div class="CLUSTER">
</div>
</div>
<div class="CLUSTER">
<label>Indel variant</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Start position</label>
<input class="DV_COUNT form-control" name="/items[at0001]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">End position</label>
<input class="DV_COUNT form-control" name="/items[at0003]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Deleted nucleotide(s)</label>
<input class="DV_TEXT form-control" name="/items[at0005]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Inserted nucleotide(s)</label>
<input class="DV_TEXT form-control" name="/items[at0007]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
</div>
</div>
<div class="CLUSTER">
<label>Insertion variant</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Start position</label>
<input class="DV_COUNT form-control" name="/items[at0001]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">End position</label>
<input class="DV_COUNT form-control" name="/items[at0003]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Inserted nucleotide(s)</label>
<input class="DV_TEXT form-control" name="/items[at0006]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
</div>
</div>
<div class="CLUSTER">
<label>Inversion variant</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Start position</label>
<input class="DV_COUNT form-control" name="/items[at0001]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">End position</label>
<input class="DV_COUNT form-control" name="/items[at0004]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Inverted sequence</label>
<input class="DV_TEXT form-control" name="/items[at0006]/value" type="text"/>
</div>
<div class="CLUSTER">
</div>
</div>
<div class="CLUSTER">
<label>Repeated sequence variant</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Start position</label>
<input class="DV_COUNT form-control" name="/items[at0001]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">End position</label>
<input class="DV_COUNT form-control" name="/items[at0003]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Repeated sequence</label>
<input class="DV_TEXT form-control" name="/items[at0005]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Copy number</label>
<input class="DV_COUNT form-control" name="/items[at0007]/value" type="number"/>
</div>
<div class="CLUSTER">
</div>
</div>
<div class="CLUSTER">
<label>Substitution variant</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Position substituted</label>
<input class="DV_COUNT form-control" name="/items[at0001]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Reference nucleotide</label>
<input class="DV_TEXT form-control" name="/items[at0003]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">New nucleotide</label>
<input class="DV_TEXT form-control" name="/items[at0005]/value" type="text"/>
</div>
<div class="CLUSTER">
</div>
</div>
<div class="CLUSTER">
<label>Translocation variant</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Breakpoint position 1</label>
<input class="DV_COUNT form-control" name="/items[at0003]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Strand 1</label>
<input class="DV_COUNT form-control" name="/items[at0005]/value" type="number"/>
</div>
<div class="CLUSTER">
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Breakpoint position 2</label>
<input class="DV_COUNT form-control" name="/items[at0004]/value" type="number"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Strand 2</label>
<input class="DV_COUNT form-control" name="/items[at0006]/value" type="number"/>
</div>
<div class="CLUSTER">
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">HGVS term</label>
<input class="DV_TEXT form-control" name="/items[at0009]/value" type="text"/>
</div>
</div>
<div class="CLUSTER">
<label>Transcript</label>
<div class="CLUSTER">
<label>Reference sequence</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Source name</label>
<input class="DV_TEXT form-control" name="/items[at0019]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Accession number</label>
<input class="DV_TEXT form-control" name="/items[at0020]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Version number</label>
<input class="DV_TEXT form-control" name="/items[at0021]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">URL</label>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Chromosome label</label>
<select class="DV_CODED_TEXT form-control" name="/items[at0023]/value/defining_code">
<option value=""></option>
<option value="at0024">Chromosome 1</option>
<option value="at0025">Chromosome 2</option>
<option value="at0026">Chromosome 3</option>
<option value="at0027">Chromosome 4</option>
<option value="at0028">Chromosome 5</option>
<option value="at0029">Chromosome 6</option>
<option value="at0030">Chromosome 7</option>
<option value="at0031">Chromosome 8</option>
<option value="at0032">Chromosome 9</option>
<option value="at0033">Chromosome 10</option>
<option value="at0034">Chromosome 11</option>
<option value="at0035">Chromosome 12</option>
<option value="at0036">Chromosome 13</option>
<option value="at0037">Chromosome 14</option>
<option value="at0038">Chromosome 15</option>
<option value="at0039">Chromosome 16</option>
<option value="at0040">Chromosome 17</option>
<option value="at0041">Chromosome 18</option>
<option value="at0042">Chromosome 19</option>
<option value="at0043">Chromosome 20</option>
<option value="at0044">Chromosome 21</option>
<option value="at0045">Chromosome 22</option>
<option value="at0046">Chromosome X</option>
<option value="at0047">Chromosome Y</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">DNARegionName</label>
<input class="DV_TEXT form-control" name="/items[at0008]/items[at0010]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">DNA change</label>
<input class="DV_TEXT form-control" name="/items[at0008]/items[at0011]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Amino Acid Change</label>
<input class="DV_TEXT form-control" name="/items[at0008]/items[at0012]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Amino Acid Change Type</label>
<select class="DV_CODED_TEXT form-control" name="/items[at0008]/items[at0013]/value/defining_code">
<option selected="selected" value=""></option>
<option value="at0085">Wild Type</option>
<option value="at0086">Deletion</option>
<option value="at0087">Duplication</option>
<option value="at0088">Frameshift</option>
<option value="at0089">Initiating Methionine</option>
<option value="at0090">Insertion</option>
<option value="at0091">Insertion and Deletion</option>
<option value="at0092">Missense</option>
<option value="at0093">Nonsense</option>
<option value="at0094">Silent</option>
<option value="at0095">Stop Codon Mutation</option>
</select>
</div>
<div class="CLUSTER">
<label>Predicted impact</label>
<div class="CLUSTER">
<label>Knowledge base</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Namespace</label>
<input class="DV_TEXT form-control" name="/items[at0001]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Version</label>
<input class="DV_TEXT form-control" name="/items[at0002]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">URL</label>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Score</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/items[at0008]/items[at0015]/items[at0017]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/items[at0008]/items[at0015]/items[at0017]/value/units">
<option selected="selected" value=""></option>
<option value="1">1</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Qualitative prediction</label>
<input class="DV_TEXT form-control" name="/items[at0008]/items[at0015]/items[at0018]/value" type="text" value=""/>
</div>
</div>
<div class="CLUSTER">
<label>Reported impact</label>
<div class="CLUSTER">
<label>Citation</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Description</label>
<input class="DV_TEXT form-control" name="/items[at0004]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Citation</label>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">URI to original data</label>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Comment</label>
<input class="DV_TEXT form-control" name="/items[at0003]/value" type="text"/>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Impact</label>
<input class="DV_TEXT form-control" name="/items[at0008]/items[at0052]/items[at0054]/value" type="text" value=""/>
</div>
</div>
<div class="CLUSTER">
<label>Gene</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Gene symbol</label>
<input class="DV_TEXT form-control" name="/items[at0008]/items[at0019]/items[at0020]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Full name</label>
<input class="DV_TEXT form-control" name="/items[at0008]/items[at0019]/items[at0021]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Copy number overlap</label>
<label>numerator
                        <input class="small DV_PROPORTION form-control" name="/items[at0008]/items[at0019]/items[at0056]/value/numerator" type="number" value=""/>
</label>
<label>denominator
                        <input class="small DV_PROPORTION form-control" name="/items[at0008]/items[at0019]/items[at0056]/value/denominator" type="number" value=""/>
</label>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Part of fusion</label>
<select class="DV_CODED_TEXT form-control" name="/items[at0008]/items[at0019]/items[at0057]/value/defining_code">
<option selected="selected" value=""></option>
<option value="at0096">First</option>
<option value="at0097">Second</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">ACMG classification</label>
<select class="DV_CODED_TEXT form-control" name="/items[at0008]/items[at0058]/value/defining_code">
<option selected="selected" value=""></option>
<option value="at0071">Pathogenic</option>
<option value="at0072">Likely pathogenic</option>
<option value="at0073">Uncertain significance</option>
<option value="at0074">Likely benign</option>
<option value="at0075">Benign</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Fusion exon</label>
<input class="DV_TEXT form-control" name="/items[at0008]/items[at0059]/value" type="text" value=""/>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Best transcript candidate</label>
<input class="DV_TEXT form-control" name="/items[at0023]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
<label>Conservation</label>
<div class="CLUSTER">
<label>Knowledge base</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Namespace</label>
<input class="DV_TEXT form-control" name="/items[at0001]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Version</label>
<input class="DV_TEXT form-control" name="/items[at0002]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">URL</label>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Score</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/items[at0024]/items[at0026]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/items[at0024]/items[at0026]/value/units">
<option selected="selected" value=""></option>
<option value="1">1</option>
</select>
</div>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Read depth</label>
<input class="DV_COUNT form-control" name="/items[at0060]/value" type="number" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Allele depth</label>
<input class="DV_COUNT form-control" name="/items[at0028]/value" type="number" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Allele frequency</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/items[at0047]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/items[at0047]/value/units">
<option selected="selected" value=""></option>
<option value="1">1</option>
</select>
</div>
</div>
<div class="CLUSTER">
<label>Population allele frequency details</label>
<div class="CLUSTER">
<label>Knowledge base</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Namespace</label>
<input class="DV_TEXT form-control" name="/items[at0001]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Version</label>
<input class="DV_TEXT form-control" name="/items[at0002]/value" type="text"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">URL</label>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Population allele frequency</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/items[at0029]/items[at0031]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/items[at0029]/items[at0031]/value/units">
<option selected="selected" value=""></option>
<option value="1">1</option>
</select>
</div>
</div>
</div>
<div class="CLUSTER">
<label>VCF Quality Filter</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Filter name</label>
<input class="DV_TEXT form-control" name="/items[at0061]/items[at0062]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Description</label>
<input class="DV_TEXT form-control" name="/items[at0061]/items[at0063]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Filter passed</label>
<input class="DV_BOOLEAN" name="/items[at0061]/items[at0064]/value" type="checkbox"/>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Strand bias ratio</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/items[at0067]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/items[at0067]/value/units">
<option selected="selected" value=""></option>
<option value="1">1</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Strand bias p-value</label>
<div class="col-md-5">
<input class="DV_QUANTITY form-control" name="/items[at0068]/value/magnitude" type="text" value=""/>
</div>
<div class="col-md-5">
<select class="DV_QUANTITY form-control" name="/items[at0068]/value/units">
<option selected="selected" value=""></option>
<option value="1">1</option>
</select>
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Genotype</label>
<input class="DV_TEXT form-control" name="/items[at0039]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Allelic State</label>
<select class="DV_CODED_TEXT form-control" name="/items[at0040]/value/defining_code">
<option selected="selected" value=""></option>
<option value="at0076">Heteroplasmic</option>
<option value="at0077">Homoplasmic</option>
<option value="at0078">Homozygous</option>
<option value="at0079">Heterozygous</option>
<option value="at0080">Hemizygous</option>
</select>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Genotype quality</label>
<input class="DV_TEXT form-control" name="/items[at0041]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Genotype probability</label>
<input class="DV_TEXT form-control" name="/items[at0069]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Genetic Variant Assessment</label>
<select class="DV_CODED_TEXT form-control" name="/items[at0050]/value/defining_code">
<option selected="selected" value=""></option>
<option value="at0081">Present</option>
<option value="at0082">Absent</option>
<option value="at0083">No call</option>
<option value="at0084">Indeterminate</option>
</select>
</div>
<div class="CLUSTER">
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Conclusion</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0057]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Test diagnosis</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0098]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Comment</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/data[at0003]/items[at0101]/value" type="text" value=""/>
</div>
</div>
<div class="ITEM_TREE">
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Confounding factors</label>
<input class="DV_TEXT form-control" name="/data[at0001]/events[at0002]/state[at0112]/items[at0113]/value" type="text" value=""/>
</div>
<div class="CLUSTER">
</div>
</div>
</div>
</div>
<div class="ITEM_TREE">
<div class="CLUSTER">
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Laboratory internal identifier</label>
<label>issuer
              <input class="small DV_IDENTIFIER form-control" name="/protocol[at0004]/items[at0068]/value/issuer" type="text" value=""/>
</label>
<label>assigner
              <input class="small DV_IDENTIFIER form-control" name="/protocol[at0004]/items[at0068]/value/assigner" type="text" value=""/>
</label>
<label>id
              <input class="small DV_IDENTIFIER form-control" name="/protocol[at0004]/items[at0068]/value/id" type="text" value=""/>
</label>
<label>type
              <input class="small DV_IDENTIFIER form-control" name="/protocol[at0004]/items[at0068]/value/type" type="text" value=""/>
</label>
</div>
<div class="CLUSTER">
<label>Test request details</label>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Original test requested name</label>
<input class="DV_TEXT form-control" name="/protocol[at0004]/items[at0094]/items[at0106]/value" type="text" value=""/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Requester order identifier</label>
<label>issuer
                <input class="small DV_IDENTIFIER form-control" name="/protocol[at0004]/items[at0094]/items[at0062]/value/issuer" type="text" value=""/>
</label>
<label>assigner
                <input class="small DV_IDENTIFIER form-control" name="/protocol[at0004]/items[at0094]/items[at0062]/value/assigner" type="text" value=""/>
</label>
<label>id
                <input class="small DV_IDENTIFIER form-control" name="/protocol[at0004]/items[at0094]/items[at0062]/value/id" type="text" value=""/>
</label>
<label>type
                <input class="small DV_IDENTIFIER form-control" name="/protocol[at0004]/items[at0094]/items[at0062]/value/type" type="text" value=""/>
</label>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Receiver order identifier</label>
<label>issuer
                <input class="small DV_IDENTIFIER form-control" name="/protocol[at0004]/items[at0094]/items[at0063]/value/issuer" type="text" value=""/>
</label>
<label>assigner
                <input class="small DV_IDENTIFIER form-control" name="/protocol[at0004]/items[at0094]/items[at0063]/value/assigner" type="text" value=""/>
</label>
<label>id
                <input class="small DV_IDENTIFIER form-control" name="/protocol[at0004]/items[at0094]/items[at0063]/value/id" type="text" value=""/>
</label>
<label>type
                <input class="small DV_IDENTIFIER form-control" name="/protocol[at0004]/items[at0094]/items[at0063]/value/type" type="text" value=""/>
</label>
</div>
<div class="CLUSTER">
</div>
<div class="CLUSTER">
</div>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Point-of-care test</label>
<input class="DV_BOOLEAN" name="/protocol[at0004]/items[at0111]/value" type="checkbox"/>
</div>
<div class="ELEMENT form-group row">
<label class="col-md-2 col-form-label">Test method</label>
</div>
<div class="CLUSTER">
</div>
<div class="CLUSTER">
</div>
</div>
</div>
</div>
</link></div>
</div>
<div class="container">
<input name="Submit" type="submit" value="Submit"/>
</div>
</form>
</body></html>
