<!DOCTYPE html>
            <html>
                <head>
                    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                    <title>Validator Response</title>
                </head>
                <body>
            <form action="" method="post">
                {% csrf_token %}
            
<div class="container">
<h2>Document instance is valid!</h2>
<div id="no-errors">

</div>
</div>
<div class="container">
            <form action="" method="post">
                    {% csrf_token %}
                    <input type="submit" name="valid" value="Upload Again" />
                    
                </form>
            </div>
        