{% extends 'base.html' %}

{% block head %}
<title>Validate XML instance</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
<h1>Validator</h1>
</div>


{% if error %}
{{error | safe}}
{% endif %}

<div class="container">
	<form  method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="document">
		<button class= "btn btn-primary" type="submit" name="Button" onclick="location.href = '{% url 'validate' %}'">Validate</button>
	</form>
</div>
<hr>
</div>
{% endblock %}